<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            line-height: 1.6;
        }
        .container {
            width: 80%;
            margin: auto;
            overflow: hidden;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            color: #333;
        }
        p {
            color: #666;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background: #50b3a2;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        .btn:hover {
            background: #3d8070;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            background: #f4f4f4;
            margin: 5px 0;
            padding: 10px;
            border: #ccc 1px solid;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to Food Delight! This is your website for finding the best local restaurants. Food Delight has the latest hot spots and hidden gems for foodies. On our community-driven website, customers leave detailed and honest reviews to help you choose where to eat. Explore detailed descriptions, photos, and ratings for many restaurants. Start sharing your culinary adventures on Food Delight today to help others find their next great meal!</p>
        
        <a href="index.html" class="btn">Go to Home</a>
        
        <h2>NPM Packages We Use</h2>
        <ul>
            <li>bcrypt@5.1.1</li>
            <li>connect-mongo@5.1.0</li>
            <li>cookie-parser@1.4.6</li>
            <li>dotenv@16.4.5</li>
            <li>ejs@3.1.10</li>
            <li>express@4.19.2</li>
            <li>express-ejs-layouts@2.5.1</li>
            <li>express-session@1.18.0</li>
            <li>jsonwebtoken@9.0.2</li>
            <li>method-override@3.0.0</li>
            <li>mongoose@8.5.1</li>
            <li>nodemon@3.1.4</li>
            </ul>

            <div class="footer">
                <p>Contact us at: <a href="fooddelight@gmail.com">fooddelight@gmail.com</a></p>
                <p>Contact Number: 09223211223</p>
            </div>
    </div>
</body>
</html>