<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles2.css">
    <title>About Us</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            background-color: #ffcd91; /* Changed background color */
        }
        
        .container {
            width: 80%;
            max-width: 800px;
            background: #fff;
            border: 1px solid #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: justify;
        }
        .header {
            background: linear-gradient(to right, #ff7e5f, #feb47b);
            padding: 20px;
            color: #fff;
            text-align: center;
            border-radius: 5px 5px 0 0;
        }
        .header h1 {
            margin: 0;
        }
        .description {
            padding: 20px;
        }
        .footer {
            background: #fff;
            padding: 20px;
            text-align: center;
            border-top: 1px solid #eee;
        }
        .footer p {
            margin: 5px 0;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>About Us</h1>
        </div>
        <div class="description">
            <p>Welcome to Food Delight! This is your website for finding the best local restaurants. Food Delight has the latest hot spots and hidden gems for foodies. On our community-driven website, customers leave detailed and honest reviews to help you choose where to eat. Explore detailed descriptions, photos, and ratings for many restaurants. Start sharing your culinary adventures on Food Delight today to help others find their next great meal!</p>
        </div>
        <div class="footer">
            <p>Contact us at: <a href="mailto:fooddelight@gmail.com">food_delight@gmail.com</a></p>
            <p>Contact Number: 09223211223</p>
        </div>
    </div>
</body>
</html>
