<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="styles2.css">
    </head>
    <body>
     <div class="header-box">
        <h1>Log in</h1>
    </div>
    <form action="javascript:verifyAccount()" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" required><br>
        <label for="remember">Remember Me:</label>
        <input type="checkbox" id="remember"><br>
        <button type="submit">Login</button>
    </form>

        <script>
            const accounts = ["User1", "User2", "User3", "User4", "User5"];
            const passwords = ["Pass1","Pass2","Pass3","Pass4","Pass5" ];

            function verifyAccount() {
                var uname = document.getElementById("username").value;
                var pass = document.getElementById("password").value;
                var verified = 0;

                for(let i=0;i<accounts.length;i++)
                {
                    if(uname == accounts.at(i) && pass == passwords.at(i))
                    {
                            window.location="loggedin.html";     
                            verified = 1;   
                    }
                }
                    if(verified == 0)
                    {
                        window.alert("Account not Found!");
                    }           
            }
        </script>

    </body>
</html>
=
